mat-card {
    background-color: #E6E6E6;
    width: 96%;
    margin-top: 1%;
}

mat-card-title {
    color: #006837;
    font-weight: bold;
    
}

mat-card-content{
    margin-top: 3%;
    width: 95%;
}

hr {
    height:1px;
    border:none; 
    color:#29ABE2; 
    background-color:#29ABE2; 
    margin-top: 0px; 
    margin-bottom: 0px;
}

h4 {
    color:#006837;  
}

.example-button-row button,
.example-button-row a {
  margin-right: 3%;
  width: 250px;
  height: 40px;
  border-radius: 30px;
  margin-top: 3%;
  margin-bottom: 2%;
  background-color: #39B54A;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 476px) {
    .example-button-row button,
    .example-button-row a {
        margin-top: 3%;
        width: 200px;
    }
}

.botaoVoltar{
    width: 85px;
    height: 75px;
    margin-top: -10px;
    margin-bottom: -20px;
}

mat-header-cell {
    background: #0071BC;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

mat-table {
    border-radius: 10px;
}

mat-paginator {
    background: #0071BC;
    color: white;
    font-size: 12px;
}

mat-form-field {
    width: 100%;
}

.mat-spinner {
    position: relative;
    margin-top: 20%;
    margin-bottom: 20%;
}

.dataPadrao{
    width: 150px;
}

