<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title>
      Lista de Alunos
    </mat-card-title>
    <hr />
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-spinner [ngStyle]="{'display': loader}" class="mat-spinner"></mat-spinner>
      </div>

      <mat-form-field class="dataPadrao">
        <input matInput [matDatepicker]="picker" placeholder="Vencimento Padrão">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div *ngIf="loader == 'none'">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar">
        </mat-form-field>
        <mat-table [dataSource]="autores" class="mat-elevation-z8">
          <!-- Name Column -->
          <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
            <mat-cell *matCellDef="let autor" > {{autor.nome}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="matricula">
            <mat-header-cell *matHeaderCellDef> Matricula </mat-header-cell>
            <mat-cell *matCellDef="let autor"> {{autor.matricula}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="almoco">
            <mat-header-cell *matHeaderCellDef> Almoço </mat-header-cell>
            <mat-cell *matCellDef="let autor">
              <mat-checkbox></mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="jantar">
            <mat-header-cell *matHeaderCellDef> Jantar </mat-header-cell>
            <mat-cell *matCellDef="let autor">
              <mat-checkbox></mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="salvar">
            <mat-header-cell *matHeaderCellDef> Salvar </mat-header-cell>
            <mat-cell *matCellDef="let autor"> <button (click)="addAuxilio(autor.matricula)" mat-button color="primary"><i class="material-icons">
                  save
                </i></button> </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </div>
      <mat-paginator [pageSize]="20"></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>