<app-menu></app-menu>
<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title>
      Cadastro de Editora
      <div>
        <a routerLink="/pages/inicio">
          <img class="botaoVoltar" src="../../../assets/botoes/Voltar.svg">
        </a>
      </div>
    </mat-card-title>
    <hr />
    <mat-card-content>
      <form class="example-form">
        <div fxLayout="row wrap">
          <div fxFlex>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Nome" name="nomeReal" [(ngModel)]="editora.nomeReal">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Nome Fantasia" name="nomeFantasia" [(ngModel)]="editora.nomeFantasia">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" name="email" [(ngModel)]="editora.email">
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Descrição" rows="3" name="descricao" [(ngModel)]="editora.descricao"></textarea>
            </mat-form-field>
            <div fxLayout="row wrap">
              <div fxFlex>
                <mat-form-field class="inputMenor">
                  <input matInput placeholder="CNPJ" mask="00.000.000/0000-00" name="cnpj" [(ngModel)]="editora.cnpj">
                </mat-form-field>
              </div>
              <div fxFlex>
                <mat-form-field class="inputMenor">
                  <input matInput placeholder="CEP" mask="00000-000" name="cep" [(ngModel)]="editora.cep">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="example-button-row" align="right">
        <button mat-raised-button (click)="salvarEditora()">Salvar</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>