<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title>
      Assistente Social
    </mat-card-title>
    <hr />
    <mat-card-content>
      <div fxLayout="row wrap">
        <div class="formPeriodo">
          <div fxFlex="70">
            <mat-form-field>
              <input matInput placeholder="Nome" [(ngModel)]="assistente.nome" name="nome">
            </mat-form-field>
          </div>

          <div fxFlex="70">
            <mat-form-field>
              <input matInput placeholder="Matricula" [(ngModel)]="assistente.matricula" name="matricula">
            </mat-form-field>
          </div>

          <div fxFlex="70">
            <mat-form-field>
              <input matInput placeholder="Email" [(ngModel)]="assistente.email" name="email">
            </mat-form-field>
          </div>

          <div fxFlex="70">
            <mat-form-field>
              <input matInput placeholder="Telefone" [(ngModel)]="assistente.telefone" name="telefone">
            </mat-form-field>
          </div>


        </div>
      </div>
      <div class="example-button-row" align="right">
        <button mat-raised-button (click)="salvarAssistente()">Salvar</button>
      </div>
    </mat-card-content>

  </mat-card>
</div>