
.corTitulo {
    color: #006837;
}

.espacoIcones {
    margin-top: 6%;
}

.espacoIconesBottom {
    margin-bottom: 10%;
}

mat-card {
    background-color: #E6E6E6;
    margin-top: 5%;
    width: 80%;
}