<app-menu></app-menu>
<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="corCard cardInicial">
    <mat-card-title class="corTitulo">
      Página Inicial
    </mat-card-title>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <a class="espacoIcones">
          <img src="../../../assets/icones/Cardápio semanal.svg" width="80px" height="80px">
        </a>
        <a class="espacoIcones">
          <img src="../../../assets/icones/Escola - Azul.svg" width="80px" height="80px">
        </a>
        <a class="espacoIcones">
          <img src="../../../assets/icones/Fornecedores.svg" width="80px" height="80px">
        </a>
        <a class="espacoIcones">
          <img src="../../../assets/icones/Gerenciar Estoques.svg" width="80px" height="80px">
        </a>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <a class="espacoIcones espacoIconesBottom">
          <img src="../../../assets/icones/Cardápio semanal.svg" width="80px" height="80px">
        </a>
        <a class="espacoIcones espacoIconesBottom">
          <img src="../../../assets/icones/Escola - Azul.svg" width="80px" height="80px">
        </a>
        <a class="espacoIcones espacoIconesBottom">
          <img src="../../../assets/icones/Fornecedores.svg" width="80px" height="80px">
        </a>
        <a class="espacoIcones espacoIconesBottom">
          <img src="../../../assets/icones/Gerenciar Estoques.svg" width="80px" height="80px">
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</div>