
mat-card-title {
    color: #006837;
    font-weight: bold;
    padding-left: 50px;
    margin-bottom: 2%;
}

.espacoIcones {
    margin-top: 6%;
}

.espacoIconesBottom {
    margin-bottom: 10%;
}

mat-card {
    background-color: #E6E6E6;
    margin-top: 5%;
    width: 80%;
}

.material-icons.md-48 { font-size: 70px; color: #0071bc;}

button{
    background-color: white;
    margin-bottom: 5px;
    border-radius: 10px ;
    height: 100%;   
}

hr {
    height:1px;
    border:none; 
    color:#29ABE2; 
    background-color:#29ABE2; 
    margin-top: 1px; 
    margin-bottom: 0px;
}

/deep/ button:hover{
    background-color: darkgrey !important;   
}

/deep/ .mat-menu-biblioteca {
    background-color: transparent;
    box-shadow: none;
    border: none
}

/deep/ .mat-card-content{
    padding-bottom: 50px;   
}
