<app-menu></app-menu>
<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title>
      Cadastro de Instituição de Ensino
      <div>
        <a routerLink="/inicio">
          <img class="botaoVoltar" src="../../../assets/botoes/Voltar.svg">
        </a>
      </div>
    </mat-card-title>
    <hr />
    <mat-card-content>
      <div align="center">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Nome" name="nome" [(ngModel)]="instituicao.nome">
          </mat-form-field>
          <div fxLayout="row wrap">
            <div fxFlex>
              <mat-form-field class="inputMenor">
                <input matInput placeholder="CNPJ" name="cnpj" mask="00.000.000/0000-00" [(ngModel)]="instituicao.cnpj">
              </mat-form-field>
            </div>
            <div fxFlex>
              <mat-form-field class="inputMenor">
                <input matInput placeholder="CEP" name="cep" mask="00000-000" [(ngModel)]="instituicao.endereco.cep">
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row wrap">
            <div fxFlex>
              <mat-form-field class="inputMenor">
                <input matInput placeholder="Cidade" name="cidade" [(ngModel)]="instituicao.endereco.cidade">
              </mat-form-field>
            </div>
            <div fxFlex>
              <mat-form-field class="inputMenor">
                <input matInput placeholder="Logradouro" name="logradouro" [(ngModel)]="instituicao.endereco.logradouro">
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row wrap">
            <div fxFlex>
              <mat-form-field class="inputMenor">
                <input matInput placeholder="Bairro" name="bairro" [(ngModel)]="instituicao.endereco.bairro">
              </mat-form-field>
            </div>
            <div fxFlex>
              <mat-form-field class="inputMenor">
                <input matInput placeholder="Estado" name="estado" [(ngModel)]="instituicao.endereco.estado">
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row wrap">
            <div fxFlex>
              <mat-form-field class="inputMenor">
                <input matInput placeholder="Número" name="numero" [(ngModel)]="instituicao.endereco.numero">
              </mat-form-field>
            </div>
            <div fxFlex>
              <mat-form-field class="inputMenor">
                <input matInput placeholder="Zona" name="zona" [(ngModel)]="instituicao.endereco.zona">
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row wrap">
            <div fxFlex>
              <mat-form-field class="inputMenor">
                <input matInput placeholder="Telefone" name="telefoneFixo" mask="(00) 0000-0000" [(ngModel)]="instituicao.telefoneFixo">
              </mat-form-field>
            </div>
            <div fxFlex>
              <mat-form-field class="inputMenor">
                <input matInput placeholder="Celular" name="telefoneCelular" mask="(00) 0 0000-0000" [(ngModel)]="instituicao.telefoneCelular">
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
      <div class="example-button-row" align="right">
        <button mat-raised-button (click)="salvarInstituicao()">Salvar</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>