mat-card {
    background-color: #E6E6E6;
    margin-top: 3%;
    width: 80%;
    border-radius: 10px;
}

mat-card-title {
    color: #006837;
    font-weight: bold;
    padding-left: 50px;
}

mat-card-content{
    margin-top: 2%;
    padding-left: 30px;
    padding-right: 30px;
}

hr {
    height:1px;
    border:none; 
    color:#29ABE2; 
    background-color:#29ABE2; 
    margin-top: 0px; 
    margin-bottom: 0px;
}

h4 {
    color:#006837;  
}

.example-form {
    margin-top: 5%;
}

.example-full-width {
    width: 80%;
}


.example-button-row button,
.example-button-row a {
  margin-right: 3%;
  width: 250px;
  height: 40px;
  border-radius: 30px;
  margin-top: 3%;
  margin-bottom: 2%;
  background-color: #39B54A;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 476px) {
    .example-button-row button,
    .example-button-row a {
        margin-top: 3%;
        width: 200px;
    }
}

.botaoVoltar{
    width: 85px;
    height: 75px;
    margin-top: -10px;
    margin-bottom: -20px;
}