<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="cardLogin">
    <form class="example-form" fxLayout="column" fxLayoutAlign="space-between stretch">
      <mat-form-field class="espacoInput">
        <input matInput placeholder="Login" type="text">
      </mat-form-field>
      <mat-form-field class="espacoInput">
        <input matInput placeholder="Senha" type="password">
      </mat-form-field>
    </form>
    <div class="example-button-row" fxLayout="column" fxLayoutAlign="space-between center" class="divBotao">
      <button mat-raised-button class="botaoSalvar" routerLink="/pages/inicio"><b>Login</b></button>
    </div>
  </mat-card>
</div>