<div class="fundo">
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="loginForm">
      <mat-card-title align="center" class="loginTitle">Login</mat-card-title>
      <form class="example-form" fxLayout="column" fxLayoutAlign="space-between stretch">
        <input class="input" placeholder="Login" type="text" [(ngModel)]="login.username" name="username">
        <input class="input espacoInput" placeholder="Senha" type="password" [(ngModel)]="login.password" name="password">
      </form>
      <div class="example-button-row" fxLayout="column" fxLayoutAlign="space-between center" class="divBotao">
        <button mat-raised-button class="botaoSalvar" (click)="loginUsuario()"><b>Entrar</b></button>
        <h5><b>Não possui uma conta? <a href="#">Cadastre-se aqui!</a></b></h5>
      </div>
    </mat-card>
  </div>
</div>