.fundo {
    background: url('../../../assets/fundo/fundo.png') no-repeat center center fixed;
    background-size: 100%;
    height: 100vh;
    background-position-y: 100%;
    background-size: cover; /*Css padrão*/
    -webkit-background-size: cover; /*Css safari e chrome*/
    -moz-background-size: cover; /*Css firefox*/
    -ms-background-size: cover; /*Css IE */
    -o-background-size: cover; /*Css Opera*/
}

.divBotao {
    margin-top: 7%;
}

.botaoSalvar{
    background-color: #29ABE2;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    border-radius: 30px;
}

.espacoInput {
    margin-top: 5%;
}

a {
    color: #0071BC;
    text-decoration: none;
}

.loginForm {
    text-align: center;
    padding: 15px 50px 30px 50px;
    border-top: 18px solid #009245;
    border-bottom: 18px solid #009245;
    background-color: white;
    vertical-align: middle;
    width: 20%;
    margin: 135px auto 0 auto;
}

@media (max-width: 940px) {
    .loginForm {
        width: 30%;
    }
}

@media (max-width: 810px) {
    .loginForm {
        width: 36%;
    }
}

@media (max-width: 700px) {
    .loginForm {
        width: 45%;
    }
}

@media (max-width: 600px) {
    .loginForm {
        width: 55%;
    }
}

@media (max-width: 476px) {
    .loginForm {
        width: 65%;
        padding: 15px 30px 30px 30px;
    }
}

.loginForm form {
    margin-top: 20px;
}

.loginTitle {
    font-weight: bold;
    font-size: 24px;
}

.input {
    border: 2px solid #29ABE2;
    color: #29ABE2 !important;
    border-radius: 8px;
    height: 34px;
    padding-left: 20px;
    font: 17px/1.4 sans-serif;
}

.input::placeholder {
    color: #29ABE2;
    font: 15px/1.4 sans-serif;
}