<app-menu></app-menu>
<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title>
      Cadastro de Tipo de Registro Bibliográfico
      <div>
        <a routerLink="/inicio">
          <img class="botaoVoltar" src="../../../assets/botoes/Voltar.svg">
        </a>
      </div>
    </mat-card-title>
    <hr />
    <mat-card-content>
      <div align="center">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Tipo de Registro" name="tipo" [(ngModel)]="tipo.tipo">
          </mat-form-field>
        </form>
      </div>
      <div class="example-button-row" align="right">
        <button mat-raised-button (click)="salvarTipo()">Salvar</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>