<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()" *ngIf="logado" >
      <mat-icon>restaurant</mat-icon>
    </button>
    <h1 class="example-app-name">Manager RU</h1>
  </mat-toolbar>

  <mat-sidenav-container  class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav *ngIf="logado" opened #snav id="snav" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <button class="item-menu" mat-button [routerLink]="['/checkin/exibir']">
          <i class="material-icons md-48">fingerprint</i><span class="label-menu">Chekin</span>
        </button>

        <button class="item-menu" mat-button [matMenuTriggerFor]="autor">
          <i class="material-icons md-48">person</i><span class="label-menu"> Aluno</span>
        </button>

        <mat-menu #autor="matMenu">
          <button mat-menu-item [routerLink]="['/aluno/cadastro']">
            <mat-icon>sync</mat-icon>Atualizar Via SUAP
          </button>
          <button mat-menu-item [routerLink]="['/aluno/lista']">
            <mat-icon>list_view</mat-icon>Listar Alunos
          </button>
        </mat-menu>



        <button class="item-menu" mat-button [matMenuTriggerFor]="biblioteca">
          <i class="material-icons md-48">format_list_numbered</i><span class="label-menu">Bolsistas</span>
        </button>

        <mat-menu #biblioteca="matMenu">
          <button mat-menu-item [routerLink]="['/aluno/bolsistas']">
            <mat-icon>list_view</mat-icon>Listar
          </button>
        </mat-menu>

        <button class="item-menu" mat-button [matMenuTriggerFor]="auxilio">
          <i class="material-icons">
            event
          </i><span class="label-menu"> Periodo</span>
        </button>

        <mat-menu #auxilio="matMenu">
          <button mat-menu-item [routerLink]="['/auxilio/cadastro']">
            <mat-icon>settings</mat-icon>Configurar Periodo
          </button>
        </mat-menu>

        <button class="item-menu" mat-button [matMenuTriggerFor]="horarios">
          <i class="material-icons">
            alarm
          </i><span class="label-menu"> Horarios</span>
        </button>

        <mat-menu #horarios="matMenu">
          <button mat-menu-item [routerLink]="['/horario']">
            <mat-icon>settings</mat-icon>Configurar
          </button>
        </mat-menu>

        <button class="item-menu" mat-button [matMenuTriggerFor]="nutricionista">
          <i class="material-icons">
            assignment_turned_in
          </i><span class="label-menu"> Nutricionista</span>
        </button>

        <mat-menu #nutricionista="matMenu">
          <button mat-menu-item [routerLink]="['/nutricionista/cadastro']">
            <mat-icon>add</mat-icon>Cadastro
          </button>

          <button mat-menu-item [routerLink]="['/nutricionista/lista']">
            <mat-icon>list_view</mat-icon>Listar
          </button>
        </mat-menu>



        <button class="item-menu" mat-button [matMenuTriggerFor]="assistente">
          <i class="material-icons">
            record_voice_over
          </i><span class="label-menu"> Assistente Social</span>
        </button>

        <mat-menu #assistente="matMenu">
          <button mat-menu-item [routerLink]="['/assistente-social/cadastro']">
            <mat-icon>add</mat-icon>Cadastro
          </button>

          <button mat-menu-item [routerLink]="['/assistente-social/lista']">
            <mat-icon>list_view</mat-icon>Listar
          </button>
        </mat-menu>



        <button class="item-menu" mat-button [matMenuTriggerFor]="solicitacoes">
          <i class="material-icons">
            notifications_active
          </i><span class="label-menu"> Solicitações</span>
        </button>

        <mat-menu #solicitacoes="matMenu">
          <button mat-menu-item [routerLink]="['/auxilio/lista-auxilios-temporarios']">
            <mat-icon>list_view</mat-icon>Listar Solicitações Pendentes
          </button>
          <button mat-menu-item [routerLink]="['/auxilio/lista-auxilios-temporarios-aprovados']">
            <mat-icon>list_view</mat-icon>Listar Solicitações Aprovadas
          </button>
        </mat-menu>

        <button class="item-menu" mat-button [matMenuTriggerFor]="relatorios">
          <i class="material-icons">
            pie_chart
          </i><span class="label-menu"> Relatorios</span>
        </button>

        <mat-menu #relatorios="matMenu">
          <button mat-menu-item [routerLink]="['/relatorio/comensais']">
            <mat-icon>insert_chart</mat-icon>Relatorio de comensais
          </button>
          <button mat-menu-item [routerLink]="['/relatorio/top-faltas']">
            <mat-icon>person_off</mat-icon>Ranking de faltas
          </button>
        </mat-menu>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content id="sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>