<app-menu></app-menu>
<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title>
      Cadastro de Autor
      <div>
        <a href="#">
          <img class="botaoVoltar" src="../../../assets/botoes/Voltar.svg">
        </a>
      </div>
    </mat-card-title>
    <hr />
    <mat-card-content>
      <div fxLayout="row wrap">
        <div fxFlex class="foto">
          <h4>Escolha uma foto</h4>
          <a md-raised-button color="primary" (click)="fileInput.click()">
            <img *ngIf="!isFoto" src="../../../assets/logos/rounded-circle-account.svg">
            <img *ngIf="isFoto" src="{{foto}}">
          </a>
          <input hidden type="file" #fileInput (change)="onFileChanged($event)">
        </div>
        <div fxFlex="70">
          <form class="example-form" fxLayout="column" fxLayoutAlign="space-between stretch">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Nome">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Biografia" rows="3"></textarea>
            </mat-form-field>
            <div>
              <mat-form-field class="inputMenor">
                <input matInput placeholder="Data de Nascimento" mask="00/00/0000">
              </mat-form-field>
              <mat-form-field class="select">
                <mat-label>Sexo</mat-label>
                <mat-select>
                  <mat-option>
                    Masculino
                  </mat-option>
                  <mat-option>
                    Feminino
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </form>
        </div>
      </div>
      <div class="example-button-row" align="right">
        <button mat-raised-button>Salvar</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>