<app-menu></app-menu>
<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title>
      Cadastro de Assunto
      <div>
        <a routerLink="/pages/inicio">
          <img class="botaoVoltar" src="../../../assets/botoes/Voltar.svg">
        </a>
      </div>
    </mat-card-title>
    <hr />
    <mat-card-content>
      <div align="center">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Descrição" name="descricao" [(ngModel)]="assunto.descricao">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Descrição Detalhada" rows="3" name="descricaoDetalhada" [(ngModel)]="assunto.descricaoDetalhada"></textarea>
          </mat-form-field>
        </form>
      </div>
      <div class="example-button-row" align="right">
        <button mat-raised-button (click)="salvarAssunto()">Salvar</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>