<app-menu></app-menu>
<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title>
      Cadastro de Autor
      <div>
        <a routerLink="/inicio">
          <img class="botaoVoltar" src="../../../assets/botoes/Voltar.svg">
        </a>
      </div>
    </mat-card-title>
    <hr />
    <mat-card-content>
      <div fxLayout="row wrap">
        <div fxFlex class="foto">
          <h4>Escolha uma foto</h4>
          <a md-raised-button color="primary" (click)="fileInput.click()">
            <img *ngIf="!isFoto" src="../../../assets/logos/rounded-circle-account.svg">
            <img *ngIf="isFoto" src="{{autor.foto}}">
          </a>
          <input hidden type="file" #fileInput (change)="onFileChanged($event)">
        </div>
        <div fxFlex="70">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Nome" [(ngModel)]="autor.nome" name="nome">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Biografia" rows="3" [(ngModel)]="autor.biografia"
                name="biografia"></textarea>
            </mat-form-field>
            <div fxLayout="row wrap">
              <div fxFlex>
                <mat-form-field class="inputMenor">
                  <input matInput placeholder="Data de Nascimento" mask="00/00/0000" [(ngModel)]="data" name="data">
                </mat-form-field>
              </div>
              <div fxFlex>
                <mat-form-field class="inputMenor">
                  <mat-label>Sexo</mat-label>
                  <mat-select [(ngModel)]="autor.sexo" name="sexo">
                    <mat-option *ngFor="let item of sexo" [value]="item.value">
                      {{item.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="example-button-row" align="right">
        <button mat-raised-button (click)="salvarAutor()">Salvar</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>