<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card >
    <mat-card-title>
      Comensais
    </mat-card-title>
    <hr />
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-spinner [ngStyle]="{'display': loader}" class="mat-spinner"></mat-spinner>
      </div>

      <!--<p><b>Periodo: </b>{{periodo.nome}}</p>
      <p><b>Inicio: </b>{{periodo.inicio | date: 'dd/MM/yyyy'}}</p>
      <p><b>Vencimento: </b>{{periodo.fim | date: 'dd/MM/yyyy'}}</p>-->

      <button mat-raised-button color="primary" (click)="captureScreen();"><span class="material-icons">
        print
      </span></button>

      <div *ngIf="loader == 'none'">
     
        <mat-form-field class="input">
          <input matInput placeholder="Inicio" [(ngModel)]="dataInicial" name="inicio" [brmasker]="{mask:'00-00-00', len:10, userCaracters: false}">
        </mat-form-field>

        <mat-form-field class="input">
          <input matInput placeholder="Termino" [(ngModel)]="dataFinal" name="termino" [brmasker]="{mask:'00-00-00', len:10, userCaracters: false}">
        </mat-form-field> 
          

          <button mat-raised-button color="primary" (click)="listaData()"><span class="material-icons">
            search
            </span></button>

          <mat-list>
            <mat-list-item><b>Almoço:</b> {{contAlmocos}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><b>Jantar:</b> {{contJantar}}</mat-list-item>
          </mat-list>

    

        <!--<mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar">
        </mat-form-field>-->
        <mat-table id="contentToConvert" [dataSource]="autores" class="mat-elevation-z8">
          <!-- Name Column -->
          <ng-container matColumnDef="data1">
            <mat-header-cell *matHeaderCellDef> Data Inicial </mat-header-cell>
            <mat-cell *matCellDef="let autor"> {{autor.datax | date:'dd/MM'}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="almoco">
            <mat-header-cell *matHeaderCellDef> Almoço </mat-header-cell>
            <mat-cell *matCellDef="let autor"> {{autor.almoco}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="jantar">

            <mat-header-cell *matHeaderCellDef> Jantar </mat-header-cell>
            <mat-cell *matCellDef="let autor">
              {{autor.jantar}}
            </mat-cell>
          </ng-container>

          

          <!--<ng-container matColumnDef="salvar">
            <mat-header-cell *matHeaderCellDef> Salvar </mat-header-cell>
            <mat-cell *matCellDef="let autor"> <button (click)="addAuxilio(autor)" mat-button color="primary"><i
                  class="material-icons">
                  save
                </i></button> </mat-cell>
          </ng-container>-->

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </div>
      <mat-paginator [pageSize]="20"></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
