<app-menu></app-menu>
<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title>
      Cadastro de Biblioteca
      <div>
        <a routerLink="/pages/inicio">
          <img class="botaoVoltar" src="../../../assets/botoes/Voltar.svg">
        </a>
      </div>
    </mat-card-title>
    <hr />
    <mat-card-content>
      <div align="center">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Nome" name="nome">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Setor" name="setor" >
          </mat-form-field>
          <div fxLayout="row wrap">
            <div fxFlex>
              <mat-form-field class="inputMenor">
                <input matInput placeholder="Telefone" mask="(00) 0000-0000" name="telefoneFixo">
              </mat-form-field>
            </div>
            <div fxFlex>
              <mat-form-field class="inputMenor">
                <input matInput placeholder="Celular 1" mask="(00) 0 0000-0000" name="telefoneCelular1">
              </mat-form-field>
            </div>
            <div fxFlex>
              <mat-form-field class="inputMenor">
                <input matInput placeholder="Celular 2" mask="(00) 0 0000-0000" name="telefoneCelular2" >
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
      <div class="example-button-row" align="right">
        <button mat-raised-button (click)="salvarBiblioteca()">Salvar</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>